@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*>.movieTile {
margin: 5%;
justify-self: stretch;
min-width: 350px;
min-height: 850px;
border-radius: 2em;
aspect-ratio: 750 / 500;

}
*>.movieTile>img {
  border-radius: 2em;
      aspect-ratio: 500 / 750;
      display: inline-flex  ;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      width: 30%;
}
*>.movieTile>h1 {
  font-family: Work Sans;
  font-weight: 400;
  height: fit-content;
  font-size: 3em;
  font-size-adjust: 0.7;
  position: inherit;
  padding: 2%;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  vertical-align: top;
  width: 60%;
  align-content: flex-start;
}

*.image-container{
    /* width:40vw;
    height: 60vh;
    background-color: #000; */
}
*.image-container img{
    width: 100%!important;
    height: 100%!important;
    /*object-fit: cover; */
}
.background{
    /* width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}
