@import url('./returnHome.css');
@import url('./subPageHeader.css');
@import url('./colorDefinitions.css');
html,body{

@media (prefers-color-scheme: dark) {
    background: var(--darkmodeSiteBg);
  }
@media (prefers-color-scheme: light)
  {
    background: var(--lightmodeSiteBg);
  }
  width:100%;

}

  @media (hover: none), (hover: on-demand), (-moz-touch-enabled: 1), (pointer:coarse) {
    body{
        margin:0;
      }
  }
